body {
	font-family: Arial;
	background-color: #E4E4E4;
}
h1 {
	font-family: "Black Ops One", system-ui;
	font-weight: 400;
	font-style: normal;
}
.black-ops-one-regular {
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
}
.smImg {
	display: inline;
	height: 568px;
}
.Intro {
	text-align: center; 
	margin-left: auto; 
	margin-right: auto;
	margin-top: 20px;
	padding: 50px 50px 50px 50px;
	font-family: Arial;  
	color: #022859;
	display: table;
}
.imageContainer {
	width: 80%; 
	max-width: 300px; 
	height: auto;
	border-style: solid;
	border-width: 5px;
	border-color: #F29C0C;
}
.btnContainer {
	background-color: #F29C0C; 
	color: #022859;
	cursor: pointer;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	border-radius: 20px 20px 20px 20px;
	font-weight: bold;
	text-transform: uppercase;
}
.btnInstr {
	color: red;
	background-color: black;
}
.btnContainer:hover {
	background-color: #A94A0E; 
	color: #022859;
	cursor: pointer;
}
.bigImg {
	display: inline;
}
/*Column Grid set*/
.topicContainer {
	float: left; 
	width: 20%;
	display: grid;
	place-items: center;
}
.rowContainer:after {
	content: "";
	display: table;
	clear: both:
}
#expand1 {
	display: none;
}
#expand1:target {
	display: block;
}
#expand2 {
	display: none;
}
#expand2:target {
	display: block;
}
#expand3 {
	display: none;
}
#expand3:target {
	display: block;
}
#expand4 {
	display: none;
}
#expand4:target {
	display: block;
}
#expand5 {
	display: none;
}
#expand5:target {
	display: block;
}
#expand6 {
	display: none;
}
#expand6:target {
	display: block;
}













